body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 3rem 3rem;
}

a {
    color: orange;
}

.imgcap {
    display: flex;
    align-items: center;
}

.imgcap img {
    margin-right: 2em;
}

.codecont {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #c969df;
    padding: 15px 25px;
    margin: 0;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 1em;
    line-height: 1.5;
    display: inline-block;
  }
  
.codecont * {
    padding: 0;
    margin: 0;
}

oc {
    color: orange; /*Identifiers and types, private,public,int,float,etc.*/
}

wc {
    color: white; /*semicolons and method variable declarations, math operators*/
}

pc {
    color: #c969df; /*class variable declarations*/
}

bc {
    color: rgb(52, 100, 235); /*method names*/
}

aqc {
    color: aqua; /*numbers and variable values*/
}

gc {
    color: rgb(40, 160, 40);
}